*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
    --bz-app-grey: grey;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        #009688 15%,
        #DBDBD2 15% 80%
    );
}

.flex-grow-3{
    flex-grow: 3;
}

#app{
    height: 100vh;
}

.wrapper{
    max-width: 1220px;
    margin: 30px auto;
    width: 70%;
}

.col-5{
    background-color: var(--bz-app-principal);
}

.userProfile{
    height: 50px;
    background-color: var(--bz-app-principal);
}

img{
    width: 30px;
    aspect-ratio: 1 / 1;
}

.userName{
    font-size: smaller;
    padding-left: 0.5rem;
}

.info{
    && small{
        font-size: smaller;
        padding: 0;
        line-height: 0;
    }

    && a{
        font-size: x-small;
        color: var(--bz-app-grey);
    }
}

.actions i{
    color: var(--bz-app-grey);
}

.notifications{
    background-color: var(--bz-app-focus);
}

.notifications i{
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.8rem;
    background-color: rgba(255, 255, 255, 0.77);
    color: var(--bz-app-focus);
}

.search{
    background-color: var(--bz-app-light);
}

.chats{
    background-color: var(--bz-app-white);
    overflow-y: auto;
    flex-grow: 1;
}

.cNames{
    font-size: smaller;
}

.lastMsgSent, .timeMsg{
    font-size: x-small;
    color: rgba(128, 128, 128, 0.644);
}

.chatWindow{
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    overflow-y: scroll;
}

.messageSent, .messageReceived{
    border-radius: 15px;
    padding: 0.5rem;
}

.messageSent{
    background-color: var(--bz-app-success);
}

.messageReceived{
    background-color: var(--bz-app-white);
}

.toWrite{
    background-color: var(--bz-app-light);
    color: var(--bz-app-grey);

    & #smiley{
        width: 5%;
    };

    & .send{
        width: 15%;
    }

    & #writing{
        width: 80%;
    }

}

.active{
    background-color: var(--bz-app-light);
    width: 100%;
    padding: 2px;
}